@import '../../../style/themes/default/colors';

.container {
    .button {
        padding: 0;
        height: 2.4rem;
        width: 2.4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $white;

        &:hover {
            border-color: $blue-8;
            color: $blue-8;
        }
        &:focus {
            border-color: $blue-9;
            color: $blue-9;
        }

        > svg {
            width: 1.6rem;
            height: 1.6rem;
        }

        &:not(:last-child) {
            margin-right: .4rem;
        }
    }
}