@import '~@ferlab/style/themes/cqdg/colors';

.query-builder {
    padding: 1.8rem 1.4rem;
    margin-bottom: 1.4rem;
    border-radius: 2px;

    .wrapper-builder{
        display: flex;
        align-items: flex-start;
    }

    &--with-filters {
        background: $white;
    }

    &--no-filters {
        background: $gray-4;

        .wrapper-builder {
            align-items: center;
        }
    }

    .wrapper-filters{
        display: flex;
        margin: -.6rem -.6rem -.6rem 1.2rem;
        flex-wrap: wrap;
    }

    .close-icon {
        width: 2.0rem;
        height: 2.0rem;
        fill: $gray-6;

        &:hover {
            cursor: pointer;
        }
    }

    .left-arrow {
        fill: $gray-8;
        width: 1.4rem;
        height: 1.4rem;
    }

    .no-filters-text {
        margin-left: 1.5rem;
        color: $gray-8;
        font-size: 1.4rem;
    }
}