.side-panel-content {
    flex-grow: 1;
    font-size: 1.2rem;
    overflow: hidden;

    .ant-tabs-nav {
        margin: 0 1.6rem;
    }

    &__panes {
        height: 100%;
        &__tab {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 1rem;
            }    
        }

        &__content {
            height: 100%;

            padding: 2.4rem 1.6rem 2.4rem 1.6rem;

            > *:not(:last-child) {
                margin-bottom: 1.6rem;
            }
        }
    }
}
