@import '~@ferlab/style/themes/cqdg/mixins';

.container {
    .graphs {
        margin-bottom:1.6rem;
    }

    .layoutActions{

        .buttons {
            @include default-action-button;
        }
    }

    .filters {
        height: 100%;

        padding: 2.4rem 0;

        > *:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }
}