@import '../../../../../node_modules/antd/dist/antd.less';
@import './_colors.less';

@btn-default-color: @text-color;
@btn-default-bg: @gray-2;
@btn-default-border: @gray-4;

@btn-text-hover-bg: @gray-3;