@import '../../../../../node_modules/antd/dist/antd.less';
@import '_colors.less';

@text-color: @gray-8;
@font-size-base: 1.4rem;

// Buttons
@btn-default-color: @gray-8;
@btn-default-bg: @gray-2;
@btn-default-border: @gray-4;

.ant-btn {
    &:hover{
        color: @gray-8;
        background-color: @white;
        border-color: @gray-4;
    }
    &:focus{
        color: @gray-8;
        background-color: @white;
        border-color: @gray-8;
    }
    &:active, &.--active{
        color: @blue-7;
        border-color: @blue-7;
    }    
}


@btn-primary-color: @gray-8;
@btn-primary-bg: @gold-4;
.ant-btn-primary {
    font-size: 1.6rem; 
    display: flex;
    align-items: center;
    &:hover{
        background-color: @gold-5;
        border-color: @gold-5;
    }
    &:focus{
        background-color: @white;
        border-color: @gold-5;
    }
    &:disabled {
        color: @gray-4;
        background-color: @gray-6;
        border-color: @gray-6;
    }
}

@btn-ghost-color: @white;
@btn-ghost-bg: transparent;
@btn-ghost-border: @white;
.ant-btn-ghost {
    font-size: 1.6rem;
    &:hover{
        border-color: @gold-3;
        color: @gold-3;
        background-color: transparent;
    }
    &:focus{
        border-color: @gold-3;
        color: @white;
        background-color: transparent;
    }

    &:disabled {
        color: @gray-4;
        border-color: @gray-6;
        background-color: transparent;
    }

}

@btn-text-hover-bg: @gray-3;

// Link
.ant-btn-link, .ant-btn-text {
    border: none;

    &:hover {
        background-color: transparent;
    }
}

// Tabs
@tabs-active-color: @blue-7;
@tabs-highlight-color: @blue-7;
@tabs-card-active-color: @blue-7;
@tabs-card-head-background: @gray-3;
@tabs-ink-bar-color: @blue-7;
@tabs-bar-margin: 0;
.ant-tabs-top {
    .ant-tabs-nav {
        &::before {
            border-color: @gray-4;
        }

        .ant-tabs-tab:hover {
            color: @blue-7;
        }
    }    
}

.ant-tabs-card {
    .ant-tabs-nav {
        .ant-tabs-tab {
            border: 1px solid @gray-4;
        }
    }

    .ant-tabs-content {
        height: 100%;
    }
}

// Table
@table-header-bg: @gray-3;
@table-header-color: @gray-9;
@table-header-sort-bg: @gray-6;
@table-header-sort-active-bg:@gray-4;

.ant-table-thead {
    tr th {
        font-weight: 600;

        &.ant-table-column-sort {
            background: @gray-3;
        }
    }

    th.numerical {
        text-align: right;
    }
}

.ant-table-tbody {
    td.numerical {
        text-align: right;
    }

    > tr.ant-table-row.odd{
    
        &:hover > td {
        background: @white;

            &.ant-table-column-sort {
                background: @gray-3;
            }
        }

        > td {
            &.ant-table-column-sort {
                background: @gray-3;
            }  
        }
    }
    > tr.ant-table-row.even{
        &:hover > td {
            background: @gray-2;
            &.ant-table-column-sort {
                background: @gray-3;
            }
        }
        > td {
            background: @gray-2;
            &.ant-table-column-sort {
                background: @gray-3;
            }
        }
    }
}

// Menu
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background: @gray-3;
}
