@import  '~@ferlab-ui/core-style/themes/cqdg/mixins';

#root {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.layout-app {
    &__content {
        background-color: $gray-3;
        flex-grow: 1;
        overflow: hidden;
    }
}