@import  '~@ferlab/style/themes/cqdg/mixins';

.layout-app {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;

    &__content {
        background-color: $gray-3;
        overflow: hidden;
    }
}