.fui-rf-container {
    .fui-rf-grouped {
        .fui-rf-range-target {
            display: flex;
            height: 100%;
            width: 40%;
        
            .fui-rf-range-target-select {
                width: 100%;
                .ant-select-selector {
                    border-radius: 2px 0 0 2px;
                }
            } 
        }
        
        .fui-rf-grouped-inputs-spacer {
            background-color: #B5C6D8;
            margin: 0 4px;
        }
    }  

    .fui-rf-grouped-inputs {
        align-items: center;
        border-radius: 2px;
        height: 32px;
        margin-bottom: 1.6rem;
        width: 60%;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        border-radius: 0 2px 2px 0;
    
        .range-input {
            border: none;
        }
    }
    
    .fui-rf-actions {
        border-top: 1px solid #D8E1EB;
        justify-content: flex-end;
        padding-top: 1.3rem;

        .fui-rf-actions-apply {
            background: #008FC7;
            border-color: #008FC7;
            color: #fff;

            &:disabled {
                color: #90A9C1;
                background: #F0F3F8;
                border-color: #B5C6D8;
            }
        }

        > * {
            text-transform: capitalize;
            margin-left: 8px;
        }
    }   
}

