@import '~@ferlab/style/themes/cqdg/colors';

.graphContainers {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
    gap: 2.4rem;
    grid-auto-rows: 244px;

    .graph {
        align-items: center;
        background: $gray-2;
        padding: 2.4rem;
    }

    .title {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.4rem;
    }
}