@import '~@ferlab/style/themes/cqdg/colors';

.container {
    max-height: 250px;
    .divider {
        margin: 0;
    }

    .emptyContainer {
        padding: 3.2rem 1.6rem;
        text-align: center;
        .emptyText {
            color: $gray-7;
            font-weight: 600;
            font-size: 1.6rem;
        }
    }
}