@import '~@ferlab/style/themes/cqdg/colors';
.file-repo {
    &__wrapper {
        display: grid;
        grid-template-rows: min-content min-content 1fr;
        gap: 2.4rem;
        padding: 1.6rem;
        min-height: 100%;
    }

    &__summary{
        &__content {
            justify-content: space-between;
            padding: 0 8rem;
        }
    }

    .tabs-container {
        height: 100%;

        &__panes {
            display: flex;
            padding: 2.4rem;
            background: $white;
            border-left: 1px solid $gray-4;
            border-right: 1px solid $gray-4;
            border-bottom: 1px solid $gray-4;

            &__tab {
                display: flex;
                align-items: center;

                .icon {
                    margin-right: 1rem;
                }    
            }


            .table-locks, .table-lock {
                vertical-align: middle;
            }
        
            .table-lock {
                color: $red-6;
            }
        
            .table-lock-open {
                color: $lime-7;
            }    
            
            .clinical-download {
                margin-right: .8rem;
                height: 2.4rem;    
                line-height: 1.2rem;        
            }
        }
    }
}