@import '~@ferlab/style/themes/cqdg/colors';
.file-repo {
    &__graph-content {
        margin-bottom: 1.6rem;
    }

    .tabs-container {
        height: 100%;

        &__panes {
            display: flex;
            padding: 2.4rem;
            background: $white;
            border-left: 1px solid $gray-4;
            border-right: 1px solid $gray-4;
            border-bottom: 1px solid $gray-4;

            &__tab {
                display: flex;
                align-items: center;

                .icon {
                    margin-right: 1rem;
                }    
            }
        }
    
    }
}