@import '../../../style/themes/default/colors';

.count__container {
    display: flex;

    .wrapper__text {
        letter-spacing: 0.16px;  
        color: $gray-9;
    }

    &--stack {
        .wrapper__text {
            margin-left: 1.6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
    
            .count {
                line-height: 2.4rem;
                font-weight: 600;
                font-size: 1.6rem;
            }
    
            .label {
                line-height: 2.2rem;
            }
        }
    }
    &--inline {
        align-items: center;
        .wrapper__text {
            margin-left: .6rem;        
            line-height: 2.2rem;
            font-weight: 600;
            font-size: 1.4rem;

            .count {
                margin-right: .5rem;
            }
        }
    }
}