@import '../../dist/themes/default/colors';

// Basic
$white: #fff;
$black: #000;

$gray-6: #90A9C1;
$gray-7: #486F90;
$gray-9: #003457;

$gold-3: #FFE091;
$gold-5: #FFC431;
$gold-6: #FFB600;
$blue-7: #008FC7;

// Compound
$default-box-shadow-color:  rgba(13, 78, 115, 0.1);