@import '~@ferlab/style/themes/cqdg/colors';

// Query builder
$query-builder-bg: $white;

$query-bar-bg: #F1F4F8;
$query-bar-bg-active: #FFEFC1;
$query-bar-border-color: #BCC9DC;
$query-bar-border-color-active: #FFDC73;

$query-bar-identifier: #BCC9DC;
$query-bar-identifier-active: #F5B800; 

$query-pill-bg: #DDE4EE;
$query-pill-bg-active: #FFC926;

$query-values-bg: $white;

$query-icon-operator-color: #5A77A0;
$query-icon-operator-color-hover: #26436E; 
$query-icon-label-operator-color: #26436E;