@import '~@ferlab/style/themes/cqdg/colors';

.container {
    .title {
        color: $gray-9;
        display: flex;
        align-items: center;

        .tooltipIcon {
            margin-left: .5rem;
            color: $gray-6;
        }
    }

    .search {
        width: 100%;
    }
}