@import '~@ferlab-ui/core-style/themes/cqdg/mixins';

.side-panel {
    background-color: $gray-3;
    border-right: thin solid $gray-4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: width 0.2s;
    width: 312px;
    z-index: 1;

    > :first-child {
        margin-bottom: 1.7rem;
    }

    .side-panel-header {
        flex-grow: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1.2rem 1.7rem;
        transition: 2s; 

        > button {
            padding: 0;
            height: auto;
        }
    }

    
    .side-panel-footer {
        align-items: center;
        border-top: thin solid #D8E1EB;
        color: #486F90;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        height: 44px;
        justify-content: center;
      
        .link {
            text-decoration: underline;
            font-size: 1.2rem;
            @include default-link-action;
    
            > span {
                text-decoration: underline;
            }
        }
    }
}


.side-panel-collapsed {
    width: 48px;
    overflow: hidden;

    .side-panel-content {
        display: none;
    }

    .side-panel-footer {
        display: none;
    }
}
