@import '~@ferlab/style/themes/cqdg/mixins';

.side-panel {
    background-color: $gray-3;
    border-right: thin solid $gray-4;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: width 0.5s;
    z-index: 1;
    overflow: hidden;

    &:not(&-collapsed) {
        max-width: 420px;
        min-width: 320px;
        > :first-child {
            margin-bottom: 1.6rem;
        }    
    }

    &-header {
        flex-grow: 0;
        display: flex;
        justify-content: start;
        align-items: center;

        > button {
            padding: 1.2rem;
            height: auto;
            color: $gray-7;
        }
    }

    &-content {
        overflow: hidden;
    }

    
    &-footer {
        align-items: center;
        border-top: thin solid $gray-4;
        color: $gray-7;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        height: 44px;
        justify-content: center;
      
        .link {
            text-decoration: underline;
            font-size: 1.2rem;
            @include default-link-action;
    
            > span {
                text-decoration: underline;
            }
        }
    }
}


.side-panel-collapsed {
    width: 48px;
    overflow: hidden;

    .side-panel-content {
        display: none;
    }

    .side-panel-footer {
        display: none;
    }
}
